<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Formservlet</display-name>
    <servlet-name>Formservlet</servlet-name>
    <servlet-class>Formservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formservlet</servlet-name>
    <url-pattern>/Formservlet</url-pattern>
  </servlet-mapping>
  <display-name>wipro_servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Datetimeservlet</display-name>
    <servlet-name>Datetimeservlet</servlet-name>
    <servlet-class>Datetimeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Datetimeservlet</servlet-name>
    <url-pattern>/Datetimeservlet</url-pattern>
  </servlet-mapping>
</web-app>